.multiGameC{
    text-align: center;
    background: url('./createTeamGameWallpaper.jpg');
    min-height: 79vh; 
    background-size: 100% 100%;
}
.hideTeamPanel
{
    display: hide;
}
.multiGameC h1{
    color: black;
}
.multiGameC input{
    color: black;
    background: transparent;
    margin-right: 1%;
    border: none;
    border-bottom: 3px solid black;
    padding: 5px 5px;
    font-size: 20px;    
    outline: none;   
    font-weight: bold;
}
::placeholder{
    color: black;
}
.searchMultiBtn{
    background: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 20px;     
    outline: none;   
    cursor: pointer;
    font-weight: bold;
}
.startBtnMulti{
    margin-top: 3%;
    background: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 20px;     
    outline: none;   
    cursor: pointer;
    font-weight: bold;
}
.createTeamPanel{
    background:  -webkit-linear-gradient(#D6A074, #503C2C, #1C150D);
    margin-top: 2%;
    text-align: center;
    width: 80%;
    height: 80%;
    padding-bottom:7%; 
    display: inline-block;
    margin-bottom: 2%;
}
.teamCardGame{
    text-align: left;
    display: block;
    margin-top: 2%;
}