
.teamCard{

    display: inline-block;
    border: 3px solid greenyellow;
    border-radius: 5px;
    width: calc(100% / 8);
    margin: 0 1%;
}
.teamCard article img{
    text-align:center;
    width: 80px;
    height: auto;
    box-sizing: border-box;
    vertical-align: baseline;

}
.teamCard section{
    color: greenyellow;
    font-weight: bold;
    font-size: 15px;
    border-top: 3px solid greenyellow;
}
