.soloGameC{
    text-align: center;
    background: url(./wallpaper_create_game.jpg);
    min-height: 89vh; 
    background-size: 100% 100%;
    color: greenyellow;
}
.searchUsername{
    background: transparent;
    border: none;
    border-bottom: 3px solid greenyellow;
    padding: 5px 5px;
    font-size: 17px;     
    outline: none;  
    font-weight: bold;
}
.searchBtnSolo{
    display: inline-block;
    text-decoration: none;
    margin-left: 2%;
    padding: 5px 40px;
    border-radius: 5px;
    outline: none;
    margin-top: 2%;
    font-weight: bold;
    border: 4px solid greenyellow;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    color: greenyellow;
}
.startBtn{
    display: inline-block;
    text-decoration: none;
    padding: 5px 40px;
    border: 4px solid greenyellow;
    border-radius: 5px;
    color: greenyellow;
    background: transparent;
    font-size: 20px;
    outline: none;
    margin-top: 1%;
    margin-bottom: 3%;
    cursor: pointer;
    font-weight: bold;
}