.terms{
    background-image:url('./terms4.jpeg');
    height: 78vh;
    overflow: auto;  
    background-size: 100% 100%;
}
.termsInfo h1{
    text-align: center;
}
.termsInfo{
    display: block;
    color:#FFE4C2;
    margin:1% 14% 1% 14%;
    font:20px cursive, sans-serif;
    text-indent: 50px;
    font-weight: bold;
}