
.personCard{

    display: inline-block;
    border: 3px solid #1F160D;
    border-radius: 5px;
    width: calc(100% / 10);
    margin: 0 1%;
}
.personCard article img{
    text-align:center;
    width: 80px;
    height: auto;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;

}
.personCard section{
    font-weight: bold;
    font-size: 13px;
    border-top: 3px solid #1F160D;
}
