.dropdownFilter
{
    background: transparent;
    margin-top: -50px;
}
.dropdownFilter ul{
    margin-top: -0.5%;
    margin-left: -1%;
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.dropdownFilter li button{
    margin-bottom: 1%;
    width: 100%;
    background: transparent;
    text-align: left;
    border: 4px solid black;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 5px;
}