.imageAnalyzer{
    background: url(./imgComp_wallpaper.jpg);
    min-height: 77vh; 
    background-size: 100% 100%;
    display: block;
    text-align: center;
}
.imageAnalyzer img {
    width: 400px;
    height: auto;
    margin-top: 5%; 
}
.imageAnalyzer button{
    margin-top: 2%;
}
.spinner{
    margin-top: 1%; 
}
.resultIA
{
    color: #B4498D;
    margin-bottom: 2%;
}
.probabiltyBtn
{
    cursor: pointer;
    background: transparent;
    color: #B4498D;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: 3px solid #B4498D;
    border-radius: 5px;
}