nav {
    background-color: greenyellow;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%; 
  }
  
nav ul {
    margin: 0;
    padding: 0;
}
  
      nav ul li {
        display: inline-block;
        list-style-type: none;
        
        margin: 20px;
    }
.logoutButton
{
    float:right;
}