nav {
    
    border: 1px solid #dedede;
    display: inline-block;
    height: 100%; 
  }
  
nav ul {
    margin: 0;
    padding: 0;
}
  
      nav ul li {
        display: inline-block;
        list-style-type: none;
        padding: 4%;
    }
.logoutButton
{
    float:right;
}