.gameForm{
    margin-top:5%;
    display: inline-block;
}

.gameForm input{
    background: transparent;
    border: none;
    color: greenyellow;
    border-bottom: 3px solid greenyellow;
    padding: 5px 5px;  
    outline: none;   
    font-size: 17px;
    font-weight: bold;
}
.gameForm input ::placeholder{
    color: greenyellow;
    font-size: 17px;
    font-weight: bold;
}
